<header>

	<div class="navbar navbar-fixed-top">			
		<div class="navbar-inner">
			<div class="container">
				
				
				<nav >
					<ul class="nav pull-left">
						
						<li><%= link_to "Home", root_path %></li>		
						<li><a href="#">The Game of go</a></li>
						<li><a href="#">Tournaments</a></li>
						<li><a href="#">Gallery</a></li>
						<li><a href="#">About</a></li>
						<!--PUT CONTACT PATH HEREJ-->
					</ul>
				</nav>

				
			<!--Put signup STuff here -->
				
				
				

			</div>

			
		</div>
	</div>	
	
	</header>